/*-- fonts --*/

$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif; 
$heading-font:  "Helvetica Neue", Helvetica, Arial, sans-serif;

$main-font-size: 16px;
$main-line-height: 1.5;

$main-font-weight: 400;
$main-heading-weight: 500;
$main-strong-weight: 500;

/*-- colors --*/

$main-text-color: #444;

/*-- links/buttons --*/

$link-color: #339af0;
$link-roll: darken($link-color, 5%);

$button-color: #12b886;
$button-roll: darken($button-color, 5%);
$button-active: darken($button-color, 10%);

/*-- styling --*/

$text-highlight-color: $main-text-color;