/*-- fonts --*/

$main-font: 'latoregular'; 
$heading-font:  'latobold';

$main-font-size: 16px;
$main-line-height: 1.5;

/*-- colors --*/

$main-text-color: #444;

/*-- links/buttons --*/

$link-color: blue;
$link-roll: lighten($link-color, 5%);

$button-color: #4d4d4d;
$button-roll: lighten($button-color, 5%);
$button-active: lighten($button-color, 10%);

/*-- styling --*/

$text-highlight-color: $main-text-color;