ol.commentlist {
	margin-left: 0px;
	padding-left: 0;
}
.commentlist li {
	position: relative;
	clear: both;
	overflow: hidden;
	list-style-type: none;
	margin-bottom: 1.5em;
	padding: 10px 15px;
}
.commentlist li:last-child {
	margin-bottom: 0;
}
.commentlist li ul.children {
	margin: 0;
}
.commentlist li[class*=depth-] {
	margin-top: 1.1em;
}
.commentlist li.depth-1 {
	margin-left: 0;
	margin-top: 0;
}
.commentlist li.depth-2 {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0;
	margin-bottom: 10px !important;
	background-color: rgba(245, 245, 245, 0.5);
}
.commentlist li.depth-3 {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0;
	margin-bottom: 10px !important;
	background-color: rgba(245, 245, 245, 0.5);
}
.commentlist li.depth-4 {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0;
	margin-bottom: 10px !important;
	background-color: rgba(245, 245, 245, 0.5);
}
.commentlist li:not(.depth-1) {
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 0;
	padding-bottom: 0;
}
.commentlist li {
	border: 2px solid #eee
}
.commentlist .vcard {
	margin-left: 60px;
}
.commentlist .vcard cite.fn {
	font-style: normal;
}
.commentlist .vcard time {
	float: right;
}
.commentlist .vcard time a {
	color: #999;
	text-decoration: none;
}
.commentlist .vcard time a:hover {
	text-decoration: underline;
}
.commentlist .vcard img.avatar {
	position: absolute;
	left: 15px;
	padding: 2px;
	border: 1px solid #cecece;
	background: #fff;
}
.commentlist .comment_content {
	margin-left: 50px;
}
.commentlist .comment_content p {
	margin: 0.7335em 0 1.5em;
	font-size: 1em;
	line-height: 1.5em;
}
.commentlist .comment-reply-link {
	text-decoration: none;
	float: right;
	background: $button-color;
	padding: 3px 10px;
	color: #fff;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase
}
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
	background: $button-roll;
}
.comment-form-comment label {
	display: block;
}
textarea#comment {
	width: 100%;
	max-width: 100%
}
h3#reply-title, h2#comments-title {
	border-bottom: 1px solid #cacaca;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 25px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.comment-form-url {
	display: none
}

#comments {
	padding-top: 20px;

	.comment-meta {
		margin-left: 61px;
		margin-bottom: 20px;
		margin-bottom:20px;
	}

}

.form-submit input#submit {
	padding:12px 25px 7px 25px;
}

#commentform , #commentform  {
	.comment-form-author label,
	.comment-form-email label {
		min-width:60px;
	}
}
