/* =============================================================================
   Global
   ========================================================================== */
   
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body, input, textarea { 

	font-family: $main-font;
	font-size: $main-font-size;
	line-height: $main-line-height;
	color: $main-text-color;
	font-weight: $main-font-weight;
	
}

/* =============================================================================
   Main Elements
   ========================================================================== */

/* Vertical Styles */
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form, .gallery-row, .comment-list ul, .comment-list ol { margin-bottom: 20px; }
.hentry, .widget, .comment, .navigation-links { margin-bottom: 40px; }

/* Lists */
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Text Elements */
address { font-style: italic; }
abbr[title], acronym[title], dfn[title] { border-bottom: 1px solid #666; }

/* Links */
a, a:active, a:visited { color: $link-color; text-decoration: none; }
a:hover { color: $link-roll; text-decoration: none; }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: $main-heading-weight; font-family: $heading-font; margin-bottom:15px }

h1 { font-size: 34px; line-height: 38px; padding: 5px 0px; }
h2 { font-size: 28px; line-height: 32px; padding: 5px 0px; }
h3 { font-size: 24px; line-height: 28px; padding: 5px 0px; }
h4 { font-size: 20px; line-height: 24px; padding: 5px 0px; }
h5 { font-size: 14px; line-height: 18px; padding: 5px 0px; }
h6 { font-size: 12px; line-height: 18px; padding: 5px 0px; }

strong { font-weight: $main-strong-weight; font-family: $heading-font; }

/* blockquote */

blockquote {
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 60px;
  border-left:8px solid $link-color;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before {
  font-family:Arial;
  content: "\201C";
  color: $link-color;
  font-size:5em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}
