/* =============================================================================
   Global
   ========================================================================== */
   
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body, input, textarea { 

	font-family: $main-font;
	font-size: $main-font-size;
	line-height: $main-line-height;
	color: $main-text-color;
	
}

/* =============================================================================
   Main Elements
   ========================================================================== */

/* -----------------------------[ Vertical Styles ]----------------------------- */
.entry-meta { margin-bottom: 10px; }
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form, .gallery-row, .comment-list ul, .comment-list ol { margin-bottom: 20px; }
.hentry, .widget, .comment, .navigation-links { margin-bottom: 40px; }

/* -----------------------------[ Lists ]----------------------------- */
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

/* -----------------------------[ Text Elements ]----------------------------- */
address { font-style: italic; }
abbr[title], acronym[title], dfn[title] { border-bottom: 1px solid #666; }

/* -----------------------------[ Tables ]----------------------------- */
table { border: 1px solid #ccc; border-width: 1px; line-height: 18px; margin: 0 0 22px 0; text-align: left; padding: 0 5px; }
table .even { background: #ddd; }
caption { text-align: left; }
tr { border-bottom: 1px solid #ccc; }
th, td { padding: 5px 3px; }
td { vertical-align: top; }


/* -----------------------------[ Links ]----------------------------- */
a, a:active, a:visited { color: $link-color; text-decoration: none; }
a:hover { color: $link-roll; text-decoration: none; }

/* -----------------------------[ Headings ]----------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-family: $heading-font; margin-bottom:15px }
h1 { font-size: 24px; line-height: 28px; padding: 5px 0px; }
h2 { font-size: 20px; line-height: 22px; padding: 5px 0px; }
h3 { font-size: 16px; line-height: 20px; padding: 5px 0px; }
h4 { font-size: 14px; line-height: 18px; padding: 5px 0px; }
h5 { font-size: 12px; line-height: 18px; padding: 5px 0px; }
h6 { font-size: 10px; line-height: 16px; }

strong { font-weight:normal; font-family: $heading-font; }

/* -----------------------------[ Blockquote ]----------------------------- */

blockquote {
	font-size:16px; 
	border-left:2px dashed #999; 
	padding:18px 0 1px 20px;
	margin-left:3px; 
	margin-bottom:40px;
	
		em {
			font-size:14px;
		}
}
	

blockquote:before {
	color: $link-color;
	font-size: 32px;
	line-height: 0.5em;
	margin-right: 0.27em;
	content: "\f10d";
    font-family: FontAwesome;
	float:left
}


/* -----------------------------[ Lists ]----------------------------- */


ul.arrow-list {
	padding-left:20px;
	margin-left:0;
	list-style-type:none	
}

.arrow-list li {
    position: relative;
	padding-left:18px
}


.arrow-list li:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: $link-color;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 1px;
    left: 0;
}

