
/* main blog landing */

h2.post-title { 
	font-size: 30px; 
	line-height: 38px; 
}

section.post-wrap {
	padding-top:80px;
	padding-bottom:70px;	
}

section.post-wrap:nth-child(odd) {
   background-color:#f5f5f0
}

/* pagination */

#nav-below {
	
	display:inline-block;
	margin:0 auto;
	font-size: 18px;
	
		.pagination-wrap {
			text-align:center;
			margin-top: -1px;	
			border-top: 1px solid #b0b0b0;
			padding-top: 30px;
		}
	
		a {
			margin:0 15px;	
		}
		
		.nav-previous {
			float: right
		}
		.nav-next {
			float: left
		}
	
		i {
			color:#2f2f2f;
			position:relative;
			top:1px;
		}
}


/* category page */

.category-title {
	background:#F5F5F0;
	
		h2 {
			padding-bottom: 10px;	
			padding-top:30px;
		}
}




