/*** essential styles ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/*** skin ***/
.sf-menu {
	float: left;
	margin-top:5px
}

.sf-menu ul {
	min-width: 12em; 
}
.sf-menu a {
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; 
}
.sf-menu a {
	color: #fff;
}
.sf-menu li {
	white-space: nowrap; 
	*white-space: normal; 
}

/* nav links */

.sf-menu li a, .sf-menu li a:visited {
	color: $link-color;
	font-size:16px;
    padding:5px 15px;
    text-decoration: none;  
	font-weight:normal;
}

.sf-menu li a:hover {
	color: $link-roll;
}

/* nav drop menu */

.sf-menu li ul {
	background:#4472b6
}

/* current links */

.sf-menu li.current-menu-item a {
	color: #C4DAEF;
}

.sf-menu li.current-menu-item li a {
	color: #fff;
}

.sf-menu li.current-menu-item li a:hover {
	color: #C4DAEF;
}

.sf-menu li.current-menu-item li a {
	color: #fff;
}

.sf-menu li.current_menu_parent a {
	color: #C4DAEF;
}

.sf-menu li.current_menu_parent li a {
	color: #fff;
}

.sf-menu li.current_menu_parent li a:hover {
	color: #C4DAEF;
}








/* #Mobile Menu
================================================== */
optgroup, optgroup label { font-weight:normal !important; font-style:normal !important;  }


/* styles for desktop */
.tinynav { display: none }
#tinynav1 { position:relative; }

/* styles for mobile */
@media screen and (max-width: 767px) {
    .tinynav { display: block }
    #menu-main-nav{ display: none }
}

#menu-mobile-nav {display:none }


