
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
	white-space: nowrap; 
	*white-space: normal;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
	min-width: 12em;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu {
	float: left;
	margin-top:5px
}

.sf-menu a {
	display: block;
	position: relative;
	zoom: 1; 
}


/* nav links */

.sf-menu li a, .sf-menu li a:visited {
	color: $link-color;
	font-size:16px;
    padding:5px 15px;
    text-decoration: none;  
	font-weight:normal;
}

.sf-menu li a:hover {
	color: $link-roll;
}

/* nav drop menu */

.sf-menu li ul {
	background:rgba(255,255,255,0.95);
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

/* current links */

.sf-menu li.current-menu-item a {
	color: $link-roll;
}

.sf-menu li.current-menu-item li a {
	color: $link-color;
}

.sf-menu li.current-menu-item li a:hover {
	color: $link-roll;
}

.sf-menu li.current-menu-item li a {
	color: $link-color;
}

.sf-menu li.current-menu-parent a {
	color: $link-roll;
}

.sf-menu li.current-menu-parent li a {
	color: $link-color;
}

.sf-menu li.current-menu-parent li a:hover {
	color: $link-roll;
}





/* mobile menu */

html {
  overflow-y: scroll !important;
}
nav#mobile-menu {
	display: none;
	overflow: hidden !important;
}

/* mobile menu button */
a.mobile-menu-button {
	background: #F3F3F3;
	color: #333;
	font-size: 28px;
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 0 5px;
	text-align: center;
	margin: 10px;
	border: 1px solid #DADADA;
	position: absolute;
	top:10px;
	left: 10px;
	z-index: 2;
	
	display: none;
}

a.mobile-menu-button:hover {
	color: #111;
}

/* Choose width for mobile menu */
	
@media screen and (max-width: 767px) {
	.menu-main-nav-container { 
		display: none;
	}
	a.mobile-menu-button { 
		display:block;
	}
	nav#mobile-menu {
		display: block;
	}
}


