/* =============================================================================
   SCSS Variables
   ========================================================================== */

/*-- fonts --*/

$font-stack: 'latoregular';
$main-font-size: 14px;

/*-- colors --*/

$main-text-color: #363636;

$main-dark-blue: #3864ae;
$main-light-blue: #00a7ec;

$main-red: #c61a40;

/*-- links/buttons --*/

$link-color: $main-light-blue;
$link-roll: lighten($link-color, 10%);

$button-color: #c61a40;
$button-roll: #c61a40;

/*-- styling --*/

$text-highlight-color: $main-dark-blue;